<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member's Only</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <h1>Member's Only</h1>
        
        <% if (locals.user) {%>
            <div>
                <div><%= user.username %><%= user.is_vip ? ` (VIP)` : '' %></div>
                <form action="/logout" method="POST">
                    <a type="submit"><button>Logout</button></a>
                </form>
            </div>
        <% } else { %>
            <div>
                <a href="/sign-up"><button>Sign Up</button></a>
                <a href="/login"><button>Login</button></a>
            </div>
        <% } %>
    </header>
    <section class="secret-password">
        <% if (locals.user && !user.is_vip) {%>
            <a href="/secret-password">become VIP</a>
        <% } %>
    </section>
    <section class="all-messages-container">
        <ul class="all-messages-list">
            <% msgs.forEach((row) => { %>
                <li class="message-card">
                    <div class="message-text">
                        <%= row.message %>
                    </div>
                    <div class="message-info">
                        <% if (locals.user) {%>
                            <div class="message-author-date-vip">
                                <%= user.is_vip ? `-${row.author}, ${row.formatted_created_at}` : '' %>
                            </div>
                            <% if (user.is_admin) {%>
                                <form action='/messages/<%= row.id %>' method="POST">
                                    <button type="submit">delete</button>
                                </form>
                            <% } %>
                        <% } %>
                    </div>
                </li>
            <% })%>
        </ul>
    </section>
    <% if (locals.user) {%>
        <section class="new-message-box">
            <form action="/messages" method="POST">
                <textarea name="messageText" required></textarea>
                <button type="submit">Send</button>
            </form>
        </section>
    <% } %>
</body>
</html>