<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member's Only</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <h1>Member's Only</h1>
        
        <% if (locals.user) {%>
            <div>
                <div><%= user.username %></div>
                <div><%= user.first_name %></div>
                <div><%= user.last_name %></div>
                <div><%= user.id %></div>
                <div>VIP: <%= user.is_vip %></div>
                <form action="/logout" method="POST">
                    <a type="submit"><button>Logout</button></a>
                </form>
            </div>
        <% } else { %>
            <div>
                <a href="/sign-up"><button>Sign Up</button></a>
                <a href="/login"><button>Login</button></a>
            </div>
        <% } %>
    </header>
    <section>
        <% if (locals.user) {%>
            <h3>logged in</h3>
        <% } else { %>
            <h3>logged out</h3>
        <% } %>
        <a href="/secret-password">secret password page</a>
    </section>
    <section>
        <% if (locals.user) {%>
            <form action="/new-message" method="POST">
                <textarea name="messageText"></textarea>
                <button type="submit">Send</button>
            </form>
        <% } else { %>
            <h3></h3>
        <% } %>
    </section>
    <section>
        <ul>
            <% msgs.forEach((row) => { %>
                <li>
                    <%= row.message %>
                    <% if (locals.user) {%>
                        <%= user.is_vip ? `${row.author} ${row.formatted_created_at}` : '' %>
                        <% if (user.is_admin) {%>
                            <form action='/delete-message/<%= row.id %>' method="POST">
                                <button type="submit">delete</button>
                            </form>
                        <% } %>
                    <% } %>
                </li>
            <% })%>
        </ul>
    </section>
</body>
</html>